<form *ngIf="issuesForm" [formGroup]="issuesForm">
  <div style="text-align: right">
    <button mat-fab style="margin: 5px" color="basic" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-fab style="margin: 5px" color="warn" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    matSort
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>state</th>
      <td mat-cell *matCellDef="let element">{{ element.value.state }}</td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>created</th>
      <td mat-cell *matCellDef="let element">
        {{ element.value.created | date: "dd.MM.yyyy HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>number</th>
      <td style="text-align: center" mat-cell *matCellDef="let element">
        {{ element.value.number }}
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>title</th>
      <td mat-cell *matCellDef="let element">{{ element.value.title }}</td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>url</th>
      <td mat-cell *matCellDef="let element">
        <a [href]="element.value.url"
          ><img width="50" src="../../assets/github.png"
        /></a>
      </td>
    </ng-container>

    <ng-container matColumnDef="userprofile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>userprofile</th>
      <td mat-cell *matCellDef="let element">
        <a [href]="element.value.userprofile"
          ><img width="50" src="../../assets/profile.jpg"
        /></a>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>action</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button
          mat-fab
          style="margin: 5px"
          color="primary"
          (click)="replayDialog(element.value.number)"
        >
          <mat-icon>replay</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [formGroup]="element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="example-element-weight">
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="body"
            /></mat-form-field>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </mat-table>
</form>
