<h4><i>home-page > my projects</i></h4>
<h1>Мои проекты</h1>
<table class="highlight">
  <thead>
    <tr>
      <th>Тема лекции</th>
      <th>Ссылка на проект</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2">Самостоятельная работа №1</th>
    </tr>
    <tr>
      <td>Задание №9. Файл README.md</td>
      <td><a href="https://github.com/garaev-salavat/task-number-9/blob/main/README.md"><img  width="50" src="../../assets/github.png"></a></td>
    </tr>
    <tr>
        <th colspan="2">Самостоятельная работа №2</th>
      </tr>
      <tr>
        <td>Задание№5. Цвета радуги.</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-homework2-task5"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <td>Задание№10. 10 Angular компонент.</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/task-2-10"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <td>Задание№11. 4 компонента, 4 способа</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/task-2-11"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <td>Задание№12. Шахматная доска</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/task-2-12"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <th colspan="2">Самостоятельная работа №3</th>
      </tr>
      <tr>
        <td>Задание№5.Добавляем Bootstrap CSS.</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hwork2-t5"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <td>Задание№7.Добавляем Angular material.</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hwork2-t7"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <th colspan="2">Самостоятельная работа №4</th>
      </tr>
      <tr>
        <td>Задание№2. Пример работы Pipe.</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hw4-tsk2"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <td>Задание№3. Создаем JoinPipe. </td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hw4-tsk3"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <td>Задание№4. Загрузка файла из JSON. Телефонная книга. </td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hw4-tsk4"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <th colspan="2">Самостоятельная работа №6</th>
      </tr>
      <tr>
        <td>Журнала оценок по расписанию занятий. Таблица уроков.</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hw6-tsk5"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <td>Журнала оценок по расписанию занятий. Таблица оценок.</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hw6-tsk6"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <th colspan="2">Самостоятельная работа №7</th>
      </tr>
      <tr>
        <td>Продолжаем развивать наш проект Журнал оценок</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hw7"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <th colspan="2">Самостоятельная работа №8</th>
      </tr>
      <tr>
        <td>Продолжаем развивать наш проект Журнал оценок. Добавляем валидаторы форм. </td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hw7"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <th colspan="2">Самостоятельная работа №10</th>
      </tr>
      <tr>
        <td>Сайт визитка</td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hw10"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
      <tr>
        <th colspan="2">Самостоятельная работа №11</th>
      </tr>
      <tr>
        <td>HttpClient & Interceptor. Вывод данных по запросу. </td>
        <td><a href="https://stackblitz.com/github/garaev-salavat/angular-hw11"><img width="50" src="../../assets/stackblitz.png"></a></td>
      </tr>
       </tbody>
</table>
