<br>
<h4><i>Главная</i></h4>

<h1>Отзыв о курсе</h1>
<p>Курс дает полное представление о фреймворке ангулар и его применении для задач различной сложности. Курс содержит большой объем практических занятий, 
   что позволяет научится разрабатывать полноценные проекты начального уровня уже сразу после окончания программы</p>
   <p>Курс очень интересный и очень интенсивный. Понравилось что на курсе не просто читали лекцию, а полностью, практически погружались 
      в изучаемую тему, рассматривали различные подходы
   </p>
   <p>В курсе было много дополнительного материала для самостоятельного изучения, а также дополнительные задания повышенной сложности</p>
   <h2>Предложения:</h2>
   <p>Возможно стоит подумать об увеличении длительности курса, а также введения проходного тестирования по JavaScript</p>